<div>
    <h1>DreamTeam</h1>
      
    <div class="developers-container">
        <div class="developer">
            <img src="/assets/images/developer.jpg" alt="Developer">
            <p>Max Zelisko</p>
            <p style="color: blue;">Developer</p>
        </div>
        <!--
            тут просто робіть копію як в мене, свої дані та карртинку в assets/images/картинка ваша
        -->  

    </div>
    <div class="developers-container">
        <div class="developer">
            <img src="/assets/images/designer.jpg" alt="Designer">
            <p>Max Zelisko</p>
            <p style="color: blue;">Designer</p>
        </div>
        <!--
            тут просто робіть копію як в мене, свої дані та карртинку в assets/images/картинка ваша
        -->  

    </div>
    
</div>